PORT=5000
NODE_ENV=development
MONGODB_URI=Your URI

PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=ciphersqlstudio_sandbox
PG_USER=postgres
PG_PASSWORD=yourpassword

JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d

GEMINI_API_KEY=your-gemini-api-key-here

CLIENT_URL=http://localhost:3000
